<div class="checkbox">
    <input type="checkbox" name="my" id="my">
    <label for="my" class="checkbox">мои</label>
</div>
<input type="text" name="author" id="author" placeholder="Автор">
<label for="sort" class="sort">Сортировать по:</label>
<select name="sort" id="sort">
    <option value="date">дате</option>
    <option value="date">релевантности</option>
</select><br>
<div class="checkbox block">
    <input type="checkbox" name="participant" id="participant">
    <label for="participant"  >я участник</label>
</div>
<div class="checkbox block">
    <input type="checkbox" name="heading" checked id="heading">
    <label for="heading" class="checkbox block">в заголовке</label>
</div>
<div class="checkbox block">
    <input type="checkbox"  name="strict" id="strict">
    <label for="strict" class="checkbox block"> строгий поиск</label>
</div>