@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  @media (max-width: 1920px){
    nav{
        background-color: rgb(31, 119, 199);
        box-shadow: 1px 2px 2px 2px  rgba(225, 225, 225);
        height: 56px;
        line-height: 56px;
        color: white;
        position: relative;
        font-size: 14px;
        font-family: sans-serif;
    }
    #btn-menu{
        display: none;
    }
    #btn{
        display: none;
    }
    nav::first-letter{
        color: rgb(219, 68, 55);
    }

    .logo{
        font-size: 21px;
        padding-left: 19px; 
    }

    nav>div{
        display: inline-block; 
    }

    .near{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        color: transparent;
        -webkit-text-stroke: 1px  rgb(219, 68, 55);
        font-size: 14px;
        position: absolute;
        bottom: 12%;
        left: 9.3%;
    }
    
    .container{
        margin-left: 120px;  
        display: inline-block;
    }
    
    
    .container>select{
        display: none;
    }
    
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .container>label::after{
        content: "▼";
        font-size: 8px;
        margin-left: 8px;
    }
    .container>*{
        margin-right: 40px;
    }

    .container>a{
        text-decoration: none;
        color: white;
    }

    .search{
        position: absolute;
        top: 32%;
    }

    .add{
        position: absolute;
        top: 32%;
        margin-left: 5%;
    }

    .email{
        position:absolute;
        right: 8%;
        top: 32%;
    }

    .notification{
        position:absolute;
        right: 4.5%;
        top: 32%;
    }

    .notices{
        background-color: rgb(183, 24, 38);
        height: 12px;
        width: 12px;
        position:absolute;
        right: 4.5%;
        top: 32%;
        font-size: 8px;
        display: inline-block;
        text-align: center;
        line-height: 12px;
    }

    .photo{
        width: 34px;
        height: 34px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: absolute;
        right: 1%;
        top: 19%;
    }
    .photo>img{
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .searching{
        display: block;
        color: black;
        position: absolute;
        top: 0;
        left:12%;
    }
    .seekOut{
        position: relative;
        width: 800px;
    }

        
    .seekOut>input{
        width: 680px;
        height: 30px;
        border-radius: 2px 0 0 2px;
        border:1px solid transparent;
        padding-left: 25px;
        position: relative;
    }

    .go{
        color: rgb(193, 193, 193);
        position: absolute;
        top:25%;
        left: 0.5%;
        
    }
    .clear{
        color: rgb(153, 159, 169);
        position: absolute;
        top:25%;
        right:12%;
    }

    button{
        background-color: rgb(255, 193, 32);
        width: 70px;
        height: 33px;
        color: white;
        border: 1px solid transparent;
        border-radius: 0 2px  2px 0;
        position: absolute;
        top:22%;
        right: 3%;
    }

    .options{
        border: 1px solid rgb(196, 206, 213);
        box-shadow: 0 2px 0 2px rgba(225, 225, 225);
        background-color: white;
        height: 160px;
        width: 425px;
        padding: 20px;
        position: absolute;
        z-index: 1;
    }

    .options>select{
        border: 1px solid rgb(196, 206, 213);
        width: 146px;
        height: 37px;
        padding: 10px;
        background-color:rgb(242, 242, 242);
    }
    .checkbox{
        display: inline-block;
        
    }

    input[type="checkbox"]{
        display: none;
    }

    .checkbox>label::before{
        content: " ";
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        border: 2px solid rgb(196, 206, 213);
        margin: 7px;
        margin-bottom:-5px;
    }

    input[type="checkbox"]:checked + label::before{
        content: "\2714";
        background-color: rgb(143, 192, 79); 
        color: white;
        text-align: center;
        line-height: 18px;
    }
    #author{
        width: 313px;
        height: 37px;
        margin: 10px;
    }

    .sort::after{
        content: "▼";
        padding: 8px;
        font-size: 12px; 
        position: relative;
        left: 35%; 
    }
}
@media (max-width: 1367px){
    .container{
        margin-left: 86px; 
    }
    .near{
        left: 11%;
      }

    .container>*{
        margin-right: 20px;
    }

    .email{
        right: 9.8%;
    }

    .notification{
        right: 6%;
    }

    .notices{
        right: 6%;
    }


    .searching{
        left:16%;
    }
    .seekOut{
        width: 650px;
    }

    .seekOut>input{
        width: 560px;
    }
    .clear{
        right: 14%;
    }

    button{
        width: 65px;
    }
}
@media (max-width: 1025px){
    nav{
        font-size: 12px;
      } 

    .logo{
        font-size: 16px;
    }

    .container{
        margin-left: 40px; 
    }

    .container>label::after{
        font-size: 6px;
        margin-left: 6px;
    }

    .container>*{
        margin-right: 20px;
    }
    
    .email{
        right: 12%;
    }
    
    .notification{
        right: 8%;
    }
    
    .notices{
        right: 8%;
    }
    
    .photo{
        right: 3%;
    }

    .searching{
        left:13%;
    }

    .seekOut{
        width: 520px;
    }
    .seekOut>input{
        width: 430px;
    }
    .clear{
        right:12%;
    }
    
    button{
        height: 33.5px;
        right: -0.7%;
        top:20%;
    }

    .options{
        width: 380px;
    }

    .options>select{
        width: 140px;
    }

    .options>label{
        margin: 5px;
    }
    
    
    .checkbox::before{
        width: 16px;
        height: 16px;
    }
    
    #author{
        width: 280px;
        margin: 8px;
    }
}

@media (max-width: 415px){

    nav{
        height: 104px;
      }

    .logo{
        font-size: 21px;
        position: absolute; 
        left: 72px;
        line-height: 56px;
     }

     .near{
        bottom: 12%;
        right:-2%;
      }

    #btn {
        display: inline-block;
        margin: 8px;
        margin-left: 30px;
    }

    .container{
        display: none;
    }

     #btn-menu:checked ~ label+.container {
        display: block;
        margin-left: 7px;
    } 
    #btn-menu:checked~label{
        display: none;
    }
    #btn-menu:checked~.container>label{
        display: block;
        color: black;
    }
    #btn-menu:checked~.container>label::after{
        content: "";
    }
    .search{
        top: 17%;
        left: 300px;
    }
    nav>.add{
    display: none;
    }

    nav>.email{
        position:absolute;
        left: 80px;
        top: 62%;
    }

    .notification{
    right: 40%;
    top: 62%;
    }

    .notices{
        right: 40%;
        top: 62%;
    }

    .photo{
        right: 3%;
        top: 58%;
    }

    .seekOut{
        width: 310px;
    }
    .seekOut>input{
        width: 250px;
        padding-left: 25px;
    }

    .clear{
        right:18%; 
    } 

    button{
        width: 60px;
        right: -2.5%;
        top:20.5%;
        height: 33.2px;
    }

    .options{
        height: 290px;
        width: 310px;
    }
    #author{
        width: 180px;
    }

    .block{
        display: block; 
        
    }
    .searching{
        left:8%;
    } 

    .options>select{
        width: 130px;
    }

    .sort::after{
        left:45%; 
    }

}


