<nav>
  <div class="logo">TILE.EXPERT <span class="material-icons near">near_me</span></div>
  <div class="menu">
    <input type="checkbox" name="menu" id="btn-menu" />
    <label for="btn-menu" id="btn"><span class="material-icons">dehaze</span></label> 
    <div class="container">
      <label for="links">Ссылки</label>
      <select name="links" id="links"></select>
      <a href="#">Контакты</a>
      <label for="tags">Теги</label>
      <select name="tags" id="tags"></select>
      <label for="requests">Просьбы</label>
      <select name="requests" id="requests"></select>
      <label for="favorites">Избранное</label>
      <select name="favorites" id="favorites"></select>
      <label for="visits">Посещения</label>
      <select name="visits" id="visits"></select>
    </div>
  </div>
  <div class="material-icons search" (click)="onSearch()" id="searchIcon">search</div>
  <search *ngIf="isSearching" class="searching" id="lookFor" ></search>
 <div class="material-icons add">add_circle</div>
  <div class="material-icons email">email</div>
  <div class="material-icons notification">notifications_none</div>
  <span class="notices">18</span>
  <div class="photo"><img src="../assets/img/photo.jpg" alt="photo"></div> 
  </nav>
  