@media (max-width: 1920px){
    nav{
        background-color: rgb(31, 119, 199);
        box-shadow: 1px 2px 2px 2px  rgba(225, 225, 225);
        height: 56px;
        line-height: 56px;
        color: white;
        position: relative;
        font-size: 14px;
        font-family: sans-serif;
    }
    #btn-menu{
        display: none;
    }
    #btn{
        display: none;
    }
    nav::first-letter{
        color: rgb(219, 68, 55);
    }

    .logo{
        font-size: 21px;
        padding-left: 19px; 
    }

    nav>div{
        display: inline-block; 
    }

    .near{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        color: transparent;
        -webkit-text-stroke: 1px  rgb(219, 68, 55);
        font-size: 14px;
        position: absolute;
        bottom: 12%;
        left: 9.3%;
    }
    
    .container{
        margin-left: 120px;  
        display: inline-block;
    }
    
    
    .container>select{
        display: none;
    }

    .container>label::after{
        content: "▼";
        font-size: 8px;
        margin-left: 8px;
    }
    .container>*{
        margin-right: 40px;
    }

    .container>a{
        text-decoration: none;
        color: white;
    }

    .search{
        position: absolute;
        top: 32%;
    }

    .add{
        position: absolute;
        top: 32%;
        margin-left: 5%;
    }

    .email{
        position:absolute;
        right: 8%;
        top: 32%;
    }

    .notification{
        position:absolute;
        right: 4.5%;
        top: 32%;
    }

    .notices{
        background-color: rgb(183, 24, 38);
        height: 12px;
        width: 12px;
        position:absolute;
        right: 4.5%;
        top: 32%;
        font-size: 8px;
        display: inline-block;
        text-align: center;
        line-height: 12px;
    }

    .photo{
        width: 34px;
        height: 34px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: absolute;
        right: 1%;
        top: 19%;
    }
    .photo>img{
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }

    .searching{
        display: block;
        color: black;
        position: absolute;
        top: 0;
        left:12%;
    }
}
@media (max-width: 1367px){
    .container{
        margin-left: 86px; 
    }
    .near{
        left: 11%;
      }

    .container>*{
        margin-right: 20px;
    }

    .email{
        right: 9.8%;
    }

    .notification{
        right: 6%;
    }

    .notices{
        right: 6%;
    }

    .searching{
        left:16%;
    }
}
@media (max-width: 1025px){
    nav{
        font-size: 12px;
      } 

    .logo{
        font-size: 16px;
    }

    .container{
        margin-left: 40px; 
    }

    .container>label::after{
        font-size: 6px;
        margin-left: 6px;
    }

    .container>*{
        margin-right: 20px;
    }
    
    .email{
        right: 12%;
    }
    
    .notification{
        right: 8%;
    }
    
    .notices{
        right: 8%;
    }
    
    .photo{
        right: 3%;
    }

    .searching{
        left:13%;
    }
}

@media (max-width: 415px){

    nav{
        height: 104px;
      }

    .logo{
        font-size: 21px;
        position: absolute; 
        left: 72px;
        line-height: 56px;
     }

     .near{
        bottom: 12%;
        right:-2%;
      }

    #btn {
        display: inline-block;
        margin: 8px;
        margin-left: 30px;
    }

    .container{
        display: none;
    }

     #btn-menu:checked ~ label+.container {
        display: block;
        margin-left: 7px;
    } 
    #btn-menu:checked~label{
        display: none;
    }
    #btn-menu:checked~.container>label{
        display: block;
        color: black;
    }
    #btn-menu:checked~.container>label::after{
        content: "";
    }
    .search{
        top: 17%;
        left: 300px;
    }
    nav>.add{
    display: none;
    }

    nav>.email{
        position:absolute;
        left: 80px;
        top: 62%;
    }

    .notification{
    right: 40%;
    top: 62%;
    }

    .notices{
        right: 40%;
        top: 62%;
    }

    .photo{
        right: 3%;
        top: 58%;
    }

    #author{
        width: 180px;
    }

    .block{
        display: block; 
        
    }
    .searching{
        left:8%;
    } 
}


