@media (max-width: 1920px){
    .seekOut{
        position: relative;
        width: 800px;
    }
 
    .seekOut>input{
        width: 680px;
        height: 30px;
        border-radius: 2px 0 0 2px;
        border:1px solid transparent;
        padding-left: 25px;
        position: relative;
    }

    .go{
        color: rgb(193, 193, 193);
        position: absolute;
        top:25%;
        left: 0.5%;
        
    }
    .clear{
        color: rgb(153, 159, 169);
        position: absolute;
        top:25%;
        right:12%;
    }

    button{
        background-color: rgb(255, 193, 32);
        width: 70px;
        height: 33px;
        color: white;
        border: 1px solid transparent;
        border-radius: 0 2px  2px 0;
        position: absolute;
        top:22%;
        right: 3%;
    }

    .options{
        border: 1px solid rgb(196, 206, 213);
        box-shadow: 0 2px 0 2px rgba(225, 225, 225);
        background-color: white;
        height: 160px;
        width: 425px;
        padding: 20px;
        position: absolute;
        z-index: 1;
    }
}
@media (max-width: 1367px){
    .seekOut{
        width: 650px;
    }

    .seekOut>input{
        width: 560px;
    }
    .clear{
        right: 14%;
    }

    button{
        width: 65px;
    }
}
@media (max-width: 1025px){
    .seekOut{
        width: 520px;
    }
    .seekOut>input{
        width: 430px;
    }
    .clear{
        right:12%;
    }
    
    button{
        height: 33.5px;
        right: -0.7%;
        top:20%;
    }

    .options{
        width: 380px;
    }
}
@media (max-width: 415px){
    
    .seekOut{
        width: 310px;
    }
    .seekOut>input{
        width: 250px;
        padding-left: 25px;
    }

    .clear{
        right:18%; 
    } 

    button{
        width: 60px;
        right: -2.5%;
        top:20.5%;
        height: 33.2px;
    }

    .options{
        height: 290px;
        width: 310px;
    }
}